@model Medicine.Models.Patient

@{
    ViewBag.Title = "DetailsPatient";
}

<h2>DeteilsPatient</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor.Recomendation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Recomendation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.historyOfTreatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.historyOfTreatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPatient", new { id = Model.Id }) |
    @Html.ActionLink("List of medicines", "GetListOfMedicaments", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "GetLitOfPatient")
</p>
