@model IEnumerable<Medicine.Models.Patient>

@{
    ViewBag.Title = "GetLitOfPatient";
}

<h2>GetLitOfPatient</h2>

<p>
    @Html.ActionLink("Add patient", "AddPatient")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Recomendation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.historyOfTreatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Recomendation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.historyOfTreatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPatient", new { id = item.Id }) |
            @Html.ActionLink("Details", "DetailsPatient", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeletePatient", new { id = item.Id }) |
            @Html.ActionLink("Get list of medicines", "GetListOfMedicaments", new { id = item.Id }) |
        </td>
    </tr>
}

</table>
